.large {
  font-size: 2em;
}

.navbar-default, #sidebar, .page {
  font-weight: 200;
}

.navbar-default .navbar-brand {
  color: black;
}

#canvas:focus, #sidebar .list-group-item:focus, .note-title:focus {
  outline: none;
}

.navbar {
  margin-bottom: -2px;
}

.container.border {
  margin-top: 49px;
  border: solid 1px #e7e7e7;
  box-shadow: 0px 0px 25px #eee;
}

a {
  color: #777;
}

#canvas, .page {
  padding: 18px;
}

#canvas {
  border-left: solid 1px #e7e7e7;
}

.page .glyphicon {
  font-size: 1em;
}

.page .jumbo {
  font-size: 5em;
}

.page .bigger {
  font-size: 2.5em;
}

.page .big {
  font-size: 1.2em;
}

.page .close {
  margin-top: 1em;
}

#sidebar {
  padding: 0;
  border-top: solid 1px #e7e7e7;
}

#sidebar .list-group-item:first-child, #sidebar .list-group-item:last-child {
  border-radius: 0px;
}

#sidebar .list-group-item {
  border: none;
}

#sidebar .list-group-item.current {
  border-right: solid 2px black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.danger {
  color: #a94442;
}

.info {
  color: #31708f;
}

.hover .hover-target {
  display: none
}

.hover:hover .hover-target {
  display: inline-block;
}

.note-edit, .note-snapshot {
  margin-right: 12px;
}

.list-group-item-danger .hover-target,
.list-group-item-info .hover-target {
  display: none
}

.list-group-item-danger:hover .hover-target,
.list-group-item-info:hover .hover-target {
  display: none
}

.list-group-item-danger .confirm-target,
.list-group-item-info .confirm-target,
.hover .confirm-target {
  display: none;
}

.list-group-item-danger:hover .confirm-target.note-remove,
.list-group-item-danger:hover .confirm-target.note-cancel,
.list-group-item-info:hover .confirm-target.note-edit,
.list-group-item-info:hover .confirm-target.note-cancel {
  display: inline-block;
  padding: 0;
  width: 80px;
  margin-top: -2px;
}

#tools {
  margin-left: 8em;
}

.tool-active {
  color: orange !important;
  /*background-color: #e7e7e7;*/
}

.table {
  width: inherit;
  margin-right: 20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 2px 10px;
  min-width: 75px;
}

.table-editor {
  position: relative;
  display: inline-block;
}

.add-col {
  position: absolute;
  right: 3px;
  top: -3px;
  display: none;
  cursor: pointer;
}


.rem-col {
  position: absolute;
  right: 3px;
  top: 10px;
  display: none;
  cursor: pointer;
}

.add-row {
  position: absolute;
  bottom: -10px;
  display: none;
  cursor: pointer;
}

.rem-row {
  position: absolute;
  bottom: -10px;
  left: 12px;
  display: none;
  cursor: pointer;
}

.table-editor:hover .add-row, .table-editor:hover .rem-row, .table-editor:hover .add-col, .table-editor:hover .rem-col {
  display: inline;
}

.todo ul {
  -webkit-padding-start: 20px;
}

.todo ul li {
  list-style-type: none;
  position: relative;
  margin: 2px;
  padding-left: 2em;
}

.todo ul li::before {
  content: '\f096';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  color: lightgray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*border-color: lightgray;*/
  /*border-style: solid;*/
  /*border-width: 0 0.2em 0.2em 0;*/
  height: 1em;
  top: 1.3em;
  left: 0.6em;
  margin-top: -1em;
  /*transform: rotate(45deg);*/
  width: 0.5em;
  cursor: pointer;
}

.todo ul li.done::before {
  content: '\f046';
  color: #009933;
}

.dropdown-menu {
  min-width: inherit;
}

#sidebar .note-title {
  padding-left: 15px;
  position: relative;
}

#sidebar .note-title::before {
  content: '\f0f6';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  color: lightgray;
  height: 1em;
  top: 1.15em;
  left: -0.35em;
  margin-top: -1em;
  width: 0.5em;
}

#sidebar .current .note-title {
  font-weight: bolder;
}

#sidebar .current .note-title::before {
  color: black;
  font-weight: bold;
}

@media print {
  #canvas { border-left: none; }
  .container.border { border: none;}

  .col-print-1 { width:8.3333333333%;  float:left; }
  .col-print-2 { width:16.6666666667%; float:left; }
  .col-print-3 { width:25%; float:left; }
  .col-print-4 { width:33.3333333333%; float:left; }
  .col-print-5 { width:41.6666666667%; float:left; }
  .col-print-6 { width:50%; float:left; }
  .col-print-7 { width:58.3333333333%; float:left; }
  .col-print-8 { width:66.6666666667%; float:left; }
  .col-print-9 { width:75%; float:left; }
  .col-print-10 { width:83.3333333333%; float:left; }
  .col-print-11 { width:91.6666666667%; float:left; }
  .col-print-12 { width:100%; float:left; }
}
