
.large {
  font-size: 2em;
}

.navbar-default, #help, #sidebar {
  font-weight: 200;
}

.navbar-default .navbar-brand {
  color: black;
}

#canvas:focus, #sidebar .list-group-item:focus, .note-title:focus {
  outline: none;
}

.navbar {
  margin-bottom: -2px;
}

.container.border {
  border: solid 1px #e7e7e7;
  box-shadow: 0px 0px 25px #eee;
}

a {
  color: #777;
}

#canvas, #help {
  padding: 18px;
}

#canvas {
  border-left: solid 1px #e7e7e7;
}

#help .glyphicon {
  font-size: 1em;
}

#help .jumbo {
  font-size: 5em;
}

#help .bigger {
  font-size: 2.5em;
}

#help .big {
  font-size: 1.2em;
}

#help .close {
  margin-top: 1em;
}

#sidebar {
  padding: 0;
  border-top: solid 1px #e7e7e7;
}

#sidebar .list-group-item:first-child, #sidebar .list-group-item:last-child {
  border-radius: 0px;
}

#sidebar .list-group-item {
  border: none;
}

#sidebar .list-group-item.current {
  border-right: solid 2px black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.danger {
  color: #a94442;
}

.info {
  color: #31708f;
}

.hover .hover-target {
  display: none
}

.hover:hover .hover-target {
  display: inline-block;
}

.note-edit {
  margin-right: 8px;
}

.list-group-item-danger .hover-target,
.list-group-item-info .hover-target {
  display: none
}

.list-group-item-danger:hover .hover-target,
.list-group-item-info:hover .hover-target {
  display: none
}

.list-group-item-danger .confirm-target,
.list-group-item-info .confirm-target,
.hover .confirm-target {
  display: none;
}

.list-group-item-danger:hover .confirm-target.note-remove,
.list-group-item-danger:hover .confirm-target.note-cancel,
.list-group-item-info:hover .confirm-target.note-edit,
.list-group-item-info:hover .confirm-target.note-cancel {
  display: inline-block;
  padding: 0;
  width: 80px;
  margin-top: -2px;
}
